.recordBtn {
    display: none;
}

.large-video-labels {
    right: 0 !important;
}
.invite-more-button {
    display: none !important;
}

.large-video-labels > * {
    display: none;
}

.large-video-labels .toolbox-button {
    display: block !important;
}

.jitsi-icon svg {
    fill: $svgColor !important;
}

.invite-more-container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) !important;
}
#new-toolbox > div.toolbox-content > div.button-group-center > div.hangup-wrapper .toolbox-icon {
    background-color: $hangupColor;
    border: 1px solid $hangupColor;
    width: 56px;
    height: 56px;

    &:hover {
        background-color: $hangupColor;
    }

    svg {
        fill: #fff !important;
    }
}

.invite-icon-header {
    right: 24px !important;
    top: 0px;
    font-size: 24px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d1dbe8;
    justify-content: center;
    width: 56px;
    height: 56px;
    cursor: pointer;

    &:hover {
        background-color: #b9b9b9;
    }

    &.toggled {
        background: #d0d0d0;
        svg {
            fill: $svgColor;
        }
        &:hover {
            background-color: #93979a;
        }
    }

    &.disabled {
        cursor: initial !important;
        background-color: #a4b8d1 !important;

        svg {
            fill: #fff !important;
        }
    }
    .jitsi-icon {
        display: flex;
        align-items: center;
    }
}
