@media only screen and (max-width: $verySmallScreen) and (max-height: $pictureInPictureScreenHeight) {
    .new-toolbox, .invite-more-container, .invite-icon-header {
        display: none !important;
    }
    .tile-view .filmstrip__videos .videocontainer:not(.active-speaker) {
        z-index: 1;
        display: none !important;
    }
    .tile-view .filmstrip__videos .videocontainer.active-speaker {
        z-index: 11111111;
    }
    .tile-view #filmstripRemoteVideosContainer, .tile-view #localVideoTileViewContainer {
        width: 100% !important;
        height: 100% !important;
        min-width: 100% !important;
        min-height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        .videocontainer {
            width: 100% !important;
            height: 100% !important;
            min-width: 100% !important;
            min-height: 100% !important;
            margin: 0 !important;
            &.active-speaker {
                video {
                    object-fit: cover !important;
                }
                .avatar-container {
                    height: 80px !important;
                    width: 80px !important;
                }
            }
        }
    }
    .videospace {
        position: relative !important;
        .videocontainer.active-speaker {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            margin: 0;
            video {
                object-fit: cover !important;
            }
        }
    }
}
@media only screen and (max-width: $smallScreen) {
    .hide-me-small {
        display: none !important;
    }
    .watermark {
        width: 20%;
        height: 20%;
    }
    .tile-icon-header.invite-icon-header {
        right: 70px !important;
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center,
            .button-group-left,
            .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 36px !important;
                        height: 36px !important;
                        svg {
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }

                    .hangup-wrapper {
                        .toolbox-icon {
                            width: 36px !important;
                            height: 36px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $verySmallScreen) {
    .hide-me-small {
        display: none !important;
    }
    #videoResolutionLabel {
        display: none;
    }
    .tile-icon-header.invite-icon-header {
        right: 70px !important;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .invite-icon-header {
        width: 36px !important;
        height: 36px !important;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center,
            .button-group-left,
            .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 36px !important;
                        height: 36px !important;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .hangup-wrapper {
                        .toolbox-icon {
                            width: 36px !important;
                            height: 36px !important;
                        }
                    }
                }
            }
        }
    }
    .chrome-extension-banner {
        display: none;
    }
}
