@media only screen and (max-width: $verySmallScreen) and (max-height: $pictureInPictureScreenHeight) {
    .new-toolbox, .invite-more-container, .invite-icon-header {
        display: none !important;
    }
    // .active-speaker {
    //     height: 100% !important;
    //     width: 100% !important;
    //     position: absolute !important;
    //     top: 0;
    //     left: 0;
    //     box-shadow: none !important;
    //     margin: 0 !important;
    //     video {
    //         // object-fit: cover !important;
    //         z-index: 9;
    //     }
    // }
}
@media only screen and (max-width: $smallScreen) {
    .watermark {
        width: 20%;
        height: 20%;
    }

    .new-toolbox {
        .toolbox-content {
            .button-group-center,
            .button-group-left,
            .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 36px;
                        height: 36px;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .hangup-wrapper {
                        .toolbox-icon {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $verySmallScreen) {
    #videoResolutionLabel {
        display: none;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .invite-icon-header {
        width: 36px !important;
        height: 36px !important;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center,
            .button-group-left,
            .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 36px;
                        height: 36px;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .hangup-wrapper {
                        .toolbox-icon {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
    .chrome-extension-banner {
        display: none;
    }
}
