@media only screen and (max-width: $verySmallScreen) and (max-height: $pictureInPictureScreenHeight) {
    .new-toolbox, .invite-more-container, .invite-icon-header {
        display: none !important;
    }
    .tile-view .filmstrip__videos .videocontainer:not(.active-speaker) {
        z-index: 1;
        display: none !important;
    }
    .tile-view .filmstrip__videos .videocontainer.active-speaker {
        z-index: 11111111;
    }
    .tile-view #filmstripRemoteVideosContainer, .tile-view #localVideoTileViewContainer {
        width: 100% !important;
        height: 100% !important;
        min-width: 100% !important;
        min-height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        .videocontainer {
            width: 100% !important;
            height: 100% !important;
            min-width: 100% !important;
            min-height: 100% !important;
            margin: 0 !important;
            &.active-speaker {
                video {
                    object-fit: cover !important;
                }
                .avatar-container {
                    height: 80px !important;
                    width: 80px !important;
                }
            }
        }
    }
    .videospace {
        position: relative !important;
        .videocontainer.active-speaker {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            margin: 0;
            video {
                object-fit: cover !important;
            }
        }
    }
}

// @mixin small-button-size() {
// This was wrapped inside above and there was no .watermark
@media only screen and (max-width: $smallScreen) {
    .watermark {
        width: 20%;
        height: 20%;
    }

    .new-toolbox {
        .toolbox-content {
            .button-group-center,
            .button-group-left,
            .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 36px;
                        height: 36px;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .hangup-wrapper {
                        .toolbox-icon {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}

// @mixin very-small-button-size() {
// This was added before the .new-toolbox call and was wrapped inside
@media only screen and (max-width: $verySmallScreen) {
    #videoResolutionLabel {
        display: none;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .invite-icon-header {
        width: 36px !important;
        height: 36px !important;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center,
            .button-group-left,
            .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 36px;
                        height: 36px;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .hangup-wrapper {
                        .toolbox-icon {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}

@mixin full-size-modal-positioner() {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
}

@mixin full-size-modal-dialog() {
    height: 100%;
    max-height: 100%;
    border-radius: 0;
}

@media only screen and (max-width: $verySmallScreen) {
    .welcome {
        display: block;

        #enter_room {
            position: relative;
            height: 42px;

            .welcome-page-button {
            font-size: 16px;
            left: 0;
            position: absolute;
            top: 68px;
            text-align: center;
            width: 100%;
            }
        }

        .header {
            background-color: #002637;

            #enter_room {
                .enter-room-input-container {
                    padding-right: 0;
                }

                .warning-without-link,
                .warning-with-link {
                    top: 120px;
                }
            }
        }

        .welcome-tabs {
            display: none;
        }

        .header-text-title {
            text-align: center;
        }

        .welcome-cards-container {
            padding: 0;
        }

        &.without-content {
            .header {
            height: 100%;
            }
        }

        #moderated-meetings {
            display: none;
        }

        .welcome-footer-row-block {
            display: block;
        }
        .welcome-badge {
            margin-right: 16px;
        }

        .welcome-footer {
            display: none;
        }
    }
}

.desktop-browser {
    @media only screen and (max-width: $smallScreen) {
        @include small-button-size();
    }

    @media only screen and (max-width: $verySmallScreen) {
        @include very-small-button-size();
    }

    &.shift-right {
        @media only screen and (max-width: $smallScreen + $sidebarWidth) {
            @include small-button-size()
        }

        @media only screen and (max-width: $verySmallScreen + $sidebarWidth) {
            @include very-small-button-size();

            #videoResolutionLabel {
                display: none;
            }
            .vertical-filmstrip .filmstrip {
                display: none;
            }
            .chrome-extension-banner {
                display: none;
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 580px) {
    .shift-right .focus-lock > div > div {
        @include full-size-modal-positioner();
    }

    .shift-right .focus-lock [role="dialog"] {
        @include full-size-modal-dialog();
    }
}

@media (min-width: 580px) and (max-width: 680px) {
    .mobile-browser {
        &.shift-right .focus-lock > div > div {
            @include full-size-modal-positioner();
        }

        &.shift-right .focus-lock [role="dialog"] {
            @include full-size-modal-dialog();
        }
    }
}